<section class="section-product section-cart">
    <h2 class="text-center">Cart</h2>

     <section class="cart">

        {{#each cartProducts}}

            <article class="product product-cart row">
                <div class="section-product-image">
                    <img src="/images/products/{{this.product_image}}" alt="product" class="product__image">
                </div>
                
                <div class="section-product-description">
                    <p><strong>{{this.product_name}}</strong></p>
                    {{!-- <p class="product-description">{{this.product_name}}</p> --}}
                    <p class="cart-price">CDN$ {{this.product_price}}</p>
                </div>

                <div class="order-summary">
                    <strong>Order Summary</strong>

                    <div class="row">
                        <p>Items ({{this.product_quantity}})</p>
                        <p>CDN$ {{this.product_total}}</p>
                    </div>
                </div>
            </article> <!-- product section-product__row-->
        {{/each}}

            <article class="product row">
                <div class="section-product-button">
                    <form action="/product/placeorder" method="POST">
                        <button value="submit" class="button btn-add-cart">Place Order</button>
                    </form>
                </div>
                
                <div class="section-product-description">
                    <p class="cart-price">Order Total:</p>
                </div>

                <div class="order-summary">
                     <p class="cart-price">CDN$ {{this.cartTotal}}</p>
                </div>
            </article> <!-- product section-product__row-->
    </section> <!-- row-->
</section> <!--section-product-->