<section class="section-product-table">
    <h2>All Products</h2>
<table class="table">
  <thead class="thead-light">
    <tr>
      {{!-- <th scope="col">#</th> --}}
      <th scope="col">Photo</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      {{!-- <th scope="col">Description</th> --}}
      <th scope="col">Category</th>
      <th scope="col">Quantity</th>
      <th scope="col">Bestseller</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
      <tr>
        {{!-- <th scope="row">1</th> --}}
        <td><img src="/images/products/{{this.product_image}}" alt="" class="all-order-image"></td>
        <td>{{this.product_name}}</td>
        <td>${{this.product_price}}</td>
        {{!-- <td>{{this.product_description}}</td> --}}
        <td>{{this.product_category}}</td>
        <td>{{this.product_quantity}}</td>
        <td>{{this.product_bestseller}}</td>
        <td><a href="/product/editProduct/{{this.id}}">Edit</a> | <a href="/product/deleteProduct/{{this.id}}?method=DELETE"> Delete</a></td>
      </tr>
    {{/each}}
  </tbody>
</table>

</section> <!-- section-product-table-->