<section class="section-product section-product-description">
    <h2 class="text-center">Product Description</h2>

     <section class="section-product-detail">
  
            <article class="product-description row">
    
                <section class="product-description-img">
                    <img src="/images/products/{{this.product_image}}" alt="Product" class="product__image">
                </section>   
                    <section>
                        <h3><strong>{{this.product_name}}</strong></h3>
                        <p class="product--description">{{this.product_description}}</p>

                        <p>Price:  <span class="cart-price">CDN$ {{this.product_price}}</span></p>

                        <p class="instock">In Stock: {{this.product_quantity}}</p>
                        <form action="/product/addtocart/{{this._id}}" method="POST">
                            <p class="qty"><strong>Quanity:</strong> 
                                <input type="number" name="req_qty" id="req_qty" value="1" min="1">
                            </p>
                            <button value="submit" class="button btn-add-cart">Add to cart</button>

                        </form>
                    </section>
            </article> <!-- product section-product__row-->
    </section> <!-- row-->
</section> <!--section-product-->