


<section class="section-product">
    <h2>Our Products</h2>

    <p class="content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam aliquid accusantium debitis recusandae voluptatibus nostrum obcaecati laudantium repudiandae praesentium maxime, voluptates sed eius repellat in natus asperiores consequatur. Nostrum, dolorem.</p>

     <section class="row section-product__row">
        {{!-- for loop  data i the name of the variable we used in server.js
--}}    {{#each data}}
            <article class="product">
    
                <img src="/images/products/{{this.product_image}}" alt="Product image" class="product__image">

                <h3 class="product__title">{{this.product_name}}</h3>
                
                <p class="product__description">{{this.product_description}}</p>

                <p>${{this.product_price}}</p>
                <p>Available Quantity: {{this.product_quantity}}</p>
                <form action="/product/productDescription/{{this.id}}" method="GET">
                    <button value="submit" class="button btn-add-cart">View Product</button>
                </form>

            </article> <!-- product section-product__row-->
        {{/each}}
    </section> <!-- row-->
</section> <!--section-product-->