<section class="section-form">
    <h2 class="heading text-capitalize text-center">sign up</h2>
     {{#each errorMessages}}
        <div class="errors">{{this}}</div>
    {{/each}}
    <form action="/users/signup-form" class="form-login" method="POST">
        <div class="form-login__inputbox">
            <label for="name" class="text-capitalize">name</label>
         <input type="text" id="name" name="name" class="form-login__input input_field" placeholder="Enter name" value="{{formValues.nameHolder}}">
        </div>

         <div class="form-login__inputbox">
            <label for="username" class="text-capitalize">Username <span class="color-accent">[ Username must contain _ or - and b/w 3 to 10 characters(0-9 or a-z A-z) ]</span></label>
            <input type="text" id="username" name="username" class="form-login__input input_field" placeholder="Enter username" value="{{formValues.usernameHolder}}">
        </div>

        <div class="form-login__inputbox">
            <label for="email" class="text-capitalize">email</label>
            <input type="email" id="email" name="email" class="form-login__input input_field" placeholder="Enter e-mail address" value="{{formValues.emailHolder}}">
        </div>

         <div class="form-login__inputbox">
            <label for="address" class="text-capitalize">address</label>
            <input type="text" id="address" name="address" class="form-login__input input_field" placeholder="Enter home adress" value="{{formValues.addressHolder}}">
        </div>

        <div class="form-login__inputbox">
            <label for="password" class="text-capitalize">password</label>
            <input type="password" id="password" name="Upassword" class="form-login__input input_field" placeholder="Enter password">
        </div>

        <div class="form-login__inputbox">
            <label for="Cpassword" class="text-capitalize">confirm password <span class="color-accent">[ should match to password entred above ]</span></label>
            <input type="password" id="Cpassword" name="Cpassword" class="form-login__input input_field" placeholder="Confirm password">
        </div>

        <button value="submit" class="button">Submit</button>
    </form>
 </section> <!-- section form-->